.homepro{
    width: 100%;
}
.pfp{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
}
.propic{
    height: 170px;
    margin-bottom: 40px;
}
.diet{
    height: 170px;
}
.mockup{
    width: 100%;
}
.raids{
    width: 40%;
}