h1{
    font-size: 3rem;
    font-weight: 1000;
}
h2 {
    font-size: 2rem;
    font-weight: 200;
}
h3{
    font-size: 1.2rem;
    font-weight: 100;
}
h4 {
    font-size: 1.5rem;
    font-weight: 400;
}
h5{
    font-size: 1.7rem;
    font-weight: 600;
}
.ame{
    text-align: center;
}
.amen{
    text-align: center;
    font-weight: bolder;
}
.amo{
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
}